extends layout

block content
  form(action="/",method="POST")
    div
      label ユーザID：
        input(type="text", name="username")
    div
      label パスワード：
        input(type="password", name="password")
    div
      input(type="submit", value="ログイン")
    if user
      p #{user.username} でログイン中
    